# ignore bin
bin/

# environment
.env

# templ.go
*templ.go

# tmp dir
tmp/

# node_modules
node_modules/

# TLS key
localhost-key.pem
localhost.pem

# pb_data
pocketbase/pb_data/

# ignore output tailwindcss
static/css/tailwindcss.css
