<nav class="shadow-2xl">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-4">
      <div class="flex items-center space-x-4">
        <a href="/" class="text-2xl font-bold">
          <img
            src="/static/icon/company_logo.png"
            alt="Company Logo"
            class="h-8"
          />
        </a>
      </div>
      <div
        class="hidden md:flex items-center space-x-4 flex-grow justify-center"
      >
        <a
          href="/dashboard"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >Dashboard</a
        >
        <a
          href="/reports"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >Reports</a
        >
        <a
          href="/settings"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >Settings</a
        >
      </div>
      <div class="flex items-center space-x-4">
        <a
          href="/login"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >Login</a
        >
      </div>
    </div>
  </div>
</nav>
