package views

templ Navbar() {
	<nav>
		<ul>
			<li><strong>Diag</strong></li>
		</ul>
		<ul>
			<li><a href="#" class="contrast">About</a></li>
			<li><a href="#" class="contrast">Services</a></li>
			<li><a href="#" class="contrast">Products</a></li>
		</ul>
	</nav>
}
