<nav class="shadow-2xl">
  <div class="container mx-auto px-4">
    <div class="flex justify-between items-center py-2">
      <div class="flex items-center space-x-4">
        <a href="/" class="text-2xl font-bold">
          <img
            src="/static/icon/company_logo.svg"
            alt="Company Logo"
            class="h-24 w-36"
          />
        </a>
      </div>
      <div class="hidden md:flex items-center space-x-4">
        <a
          href="/features"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >Features</a
        >
        <a
          href="/pricing"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >Pricing</a
        >
        <a
          href="/about"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >About</a
        >
        <a
          href="/contact"
          class="transition-colors duration-300 hover:text-indigo-500 dark:hover:text-indigo-300"
          >Contact</a
        >
      </div>
      <div class="flex items-center space-x-4"></div>
    </div>
  </div>
</nav>
