<div class="flex justify-center items-center h-screen bg-100">
  <div class="card w-full max-w-md shadow-2xl bg-base-300 rounded-lg">
    <div class="card-body p-8">
      <h2 class="text-2xl font-bold text-center mb-8">Create a New Account</h2>
      <form
        hx-post="/register"
        hx-trigger="submit"
        hx-indicator="#loading-spinner"
        hx-target="#register-error"
        hx-swap="innerHTML"
        hx-on="htmx:beforeRequest: if (document.querySelector('#email-error').innerHTML || document.querySelector('#password-error').innerHTML || document.querySelector('#confirm-password-error').innerHTML) { event.preventDefault(); }"
      >
        <div class="mb-4" hx-target="#email-error" hx-swap="innerHTML">
          <label for="email" class="block text-sm font-medium">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            placeholder="Enter your email here:"
            class="input input-bordered w-full"
            hx-post="/validate-field?field=email"
            hx-trigger="blur"
            hx-target="#email-error"
            hx-swap="innerHTML"
          />
          <div
            id="email-error"
            class="text-xs text-red-500 dark:text-red-100"
          ></div>
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            required
            class="input input-bordered w-full"
            hx-post="/validate-field?field=password"
            hx-trigger="blur"
            hx-target="#password-error"
            hx-swap="innerHTML"
          />
          <div
            id="password-error"
            class="text-xs text-red-500 dark:text-red-100"
          ></div>
        </div>
        <div class="mb-6">
          <label for="confirm-password" class="block text-sm font-medium"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
            class="input input-bordered w-full"
            hx-post="/validate-field?field=confirm-password"
            hx-trigger="blur"
            hx-target="#confirm-password-error"
            hx-swap="innerHTML"
          />
          <div
            id="confirm-password-error"
            class="text-xs text-red-500 dark:text-red-100"
          ></div>
        </div>
        <div
          id="register-error"
          class="mb-6 bg-red-800 dark:bg-red-400 text-white text-center border-none rounded-md font-medium"
        ></div>
        <button type="submit" class="btn btn-primary w-full">Register</button>
        <div
          id="loading-spinner"
          class="hidden justify-center items-center mb-4"
        >
          <svg
            class="animate-spin h-5 w-5 text-primary"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"
            ></circle>
            <path
              class="opacity-75"
              fill="currentColor"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4z"
            ></path>
          </svg>
        </div>
      </form>
      <div class="text-center mt-4">
        <p>
          Already have an account?
          <a
            href="/login"
            class="text-blue-500 dark:text-blue-100 hover:underline"
            >Login</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
