<div class="flex justify-center items-center h-screen bg-100">
  <div class="card w-full max-w-md shadow-2xl bg-base-300 rounded-lg">
    <div class="card-body p-8">
      <h2 class="text-2xl font-bold text-center mb-8">Create a New Account</h2>
      <form hx-post="/register" hx-target="#register-error" hx-swap="outerHTML">
        <div class="mb-4">
          <label for="email" class="block text-sm font-medium">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            class="input input-bordered w-full"
          />
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium"
            >Password</label
          >
          <input
            type="password"
            id="password"
            name="password"
            required
            class="input input-bordered w-full"
          />
        </div>
        <div class="mb-6">
          <label for="confirm-password" class="block text-sm font-medium"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            required
            class="input input-bordered w-full"
          />
        </div>
        <div id="register-error" class="mb-6 bg-yellow-50 font-medium"></div>
        <button type="submit" class="btn btn-primary w-full">Register</button>
      </form>
      <div class="text-center mt-4">
        <p>
          Already have an account?
          <a
            href="/login"
            class="text-blue-500 dark:text-blue-100 hover:underline"
            >Login</a
          >
        </p>
      </div>
    </div>
  </div>
</div>
